body {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
}

.merienda-title {
	font-family: 'Merienda' !important;
}

.nav-item {
	padding-right: 12px;
	padding-left: 12px;
}

.flag {
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}

.nav-link.active {
	background-color: lightgrey !important;
}

.reserve-container {
	position: relative;
}

.card-body {
	-webkit-transition: all 1s ease;
	/* Safari and Chrome */
	-moz-transition: all 1s ease;
	/* Firefox */
	-o-transition: all 1s ease;
	/* IE 9 */
	-ms-transition: all 1s ease;
	/* Opera */
	transition: all 1s ease;
}

.card-body:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	cursor: pointer;
}

.reserve-text {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-reserve {
	opacity: 0.4;
	max-height: 750px;
}

.carousel-caption {
	top: 40%;
}

.img-slider {
	max-height: 500px;
}

.navMenu {
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top {
	height: 200px;
}

.map {
	height: 320px;
}

@media screen and (max-width : 1920px) {
	.only-mobile {
		visibility: hidden;
	}
}

@media screen and (max-width : 506px) {

	.only-mobile {
		visibility: visible;
	}
}

@media screen and (max-width : 1920px) {
	.only-pc {
		visibility: visible;
	}
}

@media screen and (max-width : 506px) {

	.only-pc {
		visibility: hidden;
	}
}

.footer {
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
}

.social-icon {
	font-size: 28;
}

footer {
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
	left: -150px;
}

.flight-card {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Animation */
@keyframes movePlane {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.plane-animation {
	animation: movePlane 3s linear infinite;
}

.center-col {
	display: flex;
	align-items: center;
	/* Center vertically */
	min-height: 100px;
	/* Set minimum height to viewport height */
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal img {
	max-width: 90%;
	max-height: 90%;
	border-radius: 5px;
}

.destination-order {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 76px;
	color: rgb(244, 56, 56);
	margin-top: 20px;
}

.borderlist {
	list-style-position: inside;
	border: 1px solid black;
}

.one-line {
	display: block;
	/* Display spans as block-level elements */
	margin-right: 3px;
	/* Adjust spacing between spans */
}

.no-break-line {
	white-space: nowrap;
	/* Prevent line breaks */
}

input[type=file] {
	display: block;
	color: rgb(78, 78, 78);
	font-style: oblique;
}

input[type=file]::file-selector-button {
	display: none;
}


/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #82b295;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
  }
  
  /* Container around content */
  .container-timeline {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
  }
  
  /* The circles on the timeline */
  .container-timeline::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
	left: 0;
  }
  
  /* Place the container to the right */
  .right {
	left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
	left: -16px;
  }
  
  /* The actual content */
  .content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
  }
  .content:hover {
	cursor: pointer;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
	left: 31px;
	}
	
	/* Full-width containers */
	.container-timeline {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
	}
	
	/* Make sure that all arrows are pointing leftwards */
	.container-timeline::before {
	left: 60px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
	}
  
	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
	left: 15px;
	}
	
	/* Make all right containers behave like the left ones */
	.right {
	left: 0%;
	}
}
* {
	box-sizing: border-box;
  }